# Auto detect text files and perform LF normalization
* text=auto

# Text files where line endings should be preserved
*.patch -text

# General
.editorconfig     text
.env              text
*.*ignore         text
*.lock            text -diff

# Exclude files from exporting
.gitattributes export-ignore
.gitignore     export-ignore
.gitkeep       export-ignore
